* {
  box-sizing: border-box;;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 24px;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

.instrument__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: space-evenly;
  padding-top: 24px;
  background-color: #fff2de;
}

.instrument {
  margin-bottom: 24px;
  margin-right: 16px;
  margin-left: 16px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
}

.instrument__top {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


.instrument__name {
  font-weight: bold;
  font-size: 20px;
}

.instrument__values {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.instrument__spread {
  color: #7d8184;
  font-weight: 20px;
}

.instrument__text {
  min-width: 150px;
  margin-right: 8px;
  margin-left: 8px;
}

.instrument__grow {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
}

.instrument__grow--up {
  background-image: url(/icons8-sort-up-48.png);
}

.instrument__grow--down {
  background-image: url(/icons8-sort-down-48.png);
}
